.button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 1.75rem;
    padding-inline: 0.75rem;

    background-color: var(--color-primary);
    color: var(--color-on-primary);

    &.size-s {
        height: 2.5rem;
        font-size: 0.875rem;

    }


}

a.button {
    opacity: 0.9;
    text-decoration: none;

    &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 0.6;
    }

}