footer {    
  background: var(--color-inverse-primary);
  color: var(--color-on-surface);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-navigation {
  align-self: stretch;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 4rem;

  > nav {
    justify-content: center;
    gap: inherit;
  }
}

.footer-logo {
  display: flex;
}

.footer-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}

.footer-address {
  flex: 1 1 100px
}

.footer-contact {
  margin-bottom: 1rem;

  > * {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer-address {
    font-size: 12px;
  }
  .footer-logo {
    flex-direction: column;
  }
}
