header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    right: 0;
    border-radius: 1rem;
    background: rgba(217, 186, 250, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

section[id] {
    scroll-margin-top: 8rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: var(--color-surface-variant);
    }
}

.logo-text {
    color: var(--color-on-surface-variant);

    h1 {
        font-size: 18px;
        margin: 0;
    }

    .sub-title {
        font-size: 12px;
        font-weight: 600;
        opacity: 0.8;
    }
}

nav {
    display: flex;
    gap: 1rem;

    a {
        font-weight: 600;
        color: var(--color-primary);
        text-decoration: none;
    }
}

@media (max-width: 799px) {
    nav {
        display: none;
    }
}