nav {
    display: flex;
    gap: 1rem;

    a {
        font-weight: 600;
        color: var(--color-primary);
        text-decoration: none;
        opacity: 0.9;

        &:hover {
        opacity: 1;
    }

    &:active {
        opacity: 0.6;
    }
    }
}

@media (max-width: 670px) {
    nav {
        display: none;
    }
}